<div class="d-flex justify-content-between">
<h2>Checkout the restaurants below</h2>
<h2><%= link_to "Add new restaurant", :new_restaurant %></h2>
</div>
<hr>
<div class="container">

<% @restaurants.each do |restaurant|%>
<h3><%= link_to restaurant.name, restaurant_path(restaurant) %></h3>
<% end %>


</div>
