<h2>Checkout the restaurants below</h2>
<hr>
<%= link_to "Add new restaurant", :new_restaurant %>
<hr>
<ul>
  <% @restaurants.each do |restaurant|%>
  <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
</ul>
