// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #fff;
  // padding: 8px;
}
li {
  list-style-type: none;
}
